<ion-modal-view class="model gradient">
    <ion-header-bar>
        <h1 class="title main-text">Add Plan</h1>
        <button class="button icon-right ion-close-circled button-clear button-dark main-text" ng-click="closeAddPlan()">Cancel</button>
    </ion-header-bar>
    <ion-content class="center-text center">
        <br>
        <div ng-init="checked = false" class="main-text">
            <label><input type="checkbox" ng-model="checked"/> Show hint</label>
            <div class="content-area sample-show-hide" ng-show="checked">
                <p>Click "Record text" button for recording your plan</p>
                <p>Click "Record hour" button for recording time of plan</p>
                <p>1 2 3 4 = 12:34</p>
            </div>
        </div>
        <h2><span class="left-text">{{recognizedText|capitalize}}</span> {{recognizedHour|time}}</h2>
        <br>
        <button ng-if="recognizedText && recognizedHour" class="button transparent text-white" ng-click="submit()">Submit</button>
    </ion-content>
    <ion-footer-bar class="bar bar-stable">
        <button class="button icon-right ion-mic-a button-clear button-dark main-text" ng-click="recordText()">Record text  </button>
        <button class="button icon-left ion-mic-a button-clear button-dark main-text" ng-click="recordHour()">  Add Hour</button>
    </ion-footer-bar>
</ion-modal-view>