<ion-modal-view>
    <ion-header-bar>
            <h1 class="title">Add Plan</h1>  
            <button class="button button-clear button-positive" ng-click="closeAddPlan()">Cancel</button>
    </ion-header-bar>
    <ion-content style="text-align:center;">
      <br>
      <br>
      <h2><span style="text-align:left;">{{recognizedText | capitalize}}</span> 
      {{recognizedHour}}</h2>
      <br>
        <!--<form ng-if="recognizedText && recognizedHour" style="text-align: center;">
            <input name="recognizedText" ng-value="recognizedText">
            <input name="recognizedHour" ng-value="recognizedHour">
        </form>-->
      <button ng-if="recognizedText && recognizedHour" class="button button-calm" 
      ng-click="submit()">Submit</button>
    </ion-content>
     <ion-footer-bar class="bar-stable">
         <button class="button button-clear button-positive" 
         ng-click="recordText()">Record text</button>
         <button class="button button-clear button-positive" 
         ng-click="recordHour()">Add Hour</button>
     </ion-footer-bar>
</ion-modal-view>