<ion-view style="background-image: url('img/background.png');">
  <ion-nav-title class="center">{{activeDay.name}}</ion-nav-title>
  <ion-nav-buttons side="right" ng-show="true" class="center">
    <button class="button button-icon button-clear ion-compose" ng-click="openAddPlan()"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list inset can-swipe="true">
      <ion-item style="margin-top:5px; border-radius : 15px;margin-left: 5%;margin-right: 5%; text-align:center;" ng-repeat="task in activeDay.tasks | orderBy:'hour'">

        <ion-card>
          <div class="item item-divider" style="border-radius: 15px;"></div>
          <div class="row">
            <div class="col col-75" style="text-align:left;">
              <strong>{{task.name}}</strong>
            </div>
            <div class="col" style="text-align:right;">
              <strong>{{task.hour}}</strong>
              <br> 
              <button class="button button-icon ion-calendar" ng-click="openDatePicker()"> {{task.date|date:'yyyy-MM-dd'}}</button>
            </div>
          </div>
        </ion-card>

        <ion-option-button class="button-assertive" ng-click="deleteTask(task.name)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar-dark">
    <button ng-if="activeDay.tasks.length" class="button button-icon ion-trash-b button-clear pull-right" ng-click="clrActivePlans()"></button>
  </ion-footer-bar>
</ion-view>