<ion-view class="toolbar">
  <ion-content class="content">

    <ion-list inset>
      <ion-item class="list-item" ng-if="AllTasks[i].length > 0" ng-repeat="i in [0,1,2,3,4,5,6]">

        <strong class="main-text text-white">{{days[i].name}}</strong>

        <ion-list inset>

          <ion-item class="list-item" ng-repeat="task in AllTasks[i]">
            <div class="row">
              <div class="col col-50 text-left"><strong class="main-text">{{task.name}}</strong></div>
              <div class="col col-50 right-text main-text"><strong>{{task.hour}}</strong>
                <br>{{task.date|date:'yyyy-MM-dd'}}
              </div>
            </div>
          </ion-item>

        </ion-list>
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-footer-bar class="bar  toolbar">
  </ion-footer-bar>
</ion-view>